[Desktop Entry]
Exec=kcmshell4 mlimecfg
Icon=preferences-desktop-keyboard
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit

X-KDE-Library=kcm_mlimecfg
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Configure Input Methods
Name[zh_CN]=输入法配置
Name[zh_TW]=输入法设定
Comment=Configure Input Methods
Comment[zh_CN]=输入法配置
Comment[zh_TW]=输入法设定
X-KDE-Keywords=Input Methods Configure Module
